<h1>Добавление лекции</h1>

<% if @parameters && @parameters.key?('error') %>
  <div style="background-color: #8a1f11;color: white;padding: 8px">
    <b>Ошибка: </b><%= @parameters['error'] %>
  </div>
<% end %>

<form method="post">
  <div>
    <div class="lagre-12 cell">
      <label>День недели
        <select name="day_week" id="day_week">
          <option value="1" <% if @parameters && @parameters['day_week'] == '1' %> selected <% end %> >Понедельник</option>
          <option value="2" <% if @parameters && @parameters['day_week'] == '2' %> selected <% end %> >Вторник</option>
          <option value="3" <% if @parameters && @parameters['day_week'] == '3' %> selected <% end %> >Среда</option>
          <option value="4" <% if @parameters && @parameters['day_week'] == '4' %> selected <% end %> >Четверг</option>
          <option value="5" <% if @parameters && @parameters['day_week'] == '5' %> selected <% end %> >Пятница</option>
          <option value="6" <% if @parameters && @parameters['day_week'] == '6' %> selected <% end %> >Суббота</option>
        </select>
      </label>
    </div>
    <div class="lagre-12 cell">
      <label>Номер лекции
        <select name="num_lecture" id="num_lecture">
          <option value="1" <% if @parameters && @parameters['num_lecture'] == '1' %> selected <% end %> >Первая</option>
          <option value="2" <% if @parameters && @parameters['num_lecture'] == '2' %> selected <% end %> >Вторая</option>
          <option value="3" <% if @parameters && @parameters['num_lecture'] == '3' %> selected <% end %> >Третья</option>
          <option value="4" <% if @parameters && @parameters['num_lecture'] == '4' %> selected <% end %> >Четвертая</option>
          <option value="5" <% if @parameters && @parameters['num_lecture'] == '5' %> selected <% end %> >Пятая</option>
          <option value="6" <% if @parameters && @parameters['num_lecture'] == '6' %> selected <% end %> >Шестая</option>
        </select>
      </label>
    </div>

    <div class="lagre-12 cell">
      <label>Название предмета
        <input type="text" placeholder="Математика" name="subject" value="<%= @parameters && @parameters['subject'] %>">
      </label>
    </div>

    <div class="lagre-12 cell">
      <label>ФИО преподатавеля
        <input type="text" placeholder="Фамилия И. О." name="lector" value="<%= @parameters && @parameters['lector'] %>">
      </label>
    </div>

    <div class="lagre-12 cell">
      <label>Кабинет
        <input type="text" placeholder="№ кабинет" type="number" name="cabinet" value="<%= @parameters && @parameters['cabinet'] %>">
      </label>
    </div>

    <div class="lagre-12 cell">
      <label>Группы
        <input type="text" placeholder="ПРИМЕР-11, ПРИМЕР-12" type="number" name="groups" value="<%= @parameters && @parameters['groups'] %>">
      </label>
    </div>


  </div>
  <div>
    <div class="medium-11 cell">
      <input type="submit" value="Добавить" class="button success">
    </div>
  </div>
</form>