<h2>Добавление лекции</h2>

<% if !@response.nil? && @response[:business_error] %>
  <div style="background-color: #8a1f11;color: white;padding: 8px">
    <b>Ошибка: </b><%= @response[:business_error] %>
  </div>
<% end %>

<% form({ method: :post }, { obj: @params }) do |f| %>
  <%= f.input(:day_week, type: :select, placeholder: '1-6', label: 'День недели', options: @day_names.values) %>
  <%= f.input(:num_lecture, type: :number, placeholder: '1-6', label: 'Номер лекции') %>
  <%= f.input(:subject, type: :text, placeholder: 'Математика', label: 'Название предмета') %>
  <%= f.input(:lector, type: :text, placeholder: 'Иванов И. И.', label: 'ФИО преподатавеля') %>
  <%= f.input(:cabinet, type: :number, placeholder: '101', label: 'Кабинет') %>
  <%= f.input(:groups, type: :text, placeholder: 'EX-1, EX-2', label: 'Группы') %>
  <%= f.button(value: 'OK', class: 'success button') %>
<% end %>