<h1>Полное расписание</h1>

<form method="get">
  <div style="display: flex;flex-direction: row">
    <div>
      <label>
        Фильтрация по группам
        <select name="group" id="group">
          <option value="">-</option>
          <% groups.each do |group| %>
            <option value="<%= group %>"
                    <% if @parameters['group'] == group %> selected
                    <% end %> >
              <%= group %>
            </option>
          <% end %>
        </select>
      </label>
    </div>

    <div>
      <label>
        Фильтрация по преподавателю
        <select name="lector" id="lector">
          <option value="">-</option>
          <% lectors.each do |lector| %>
            <option value="<%= lector %>"
                    <% if @parameters['lector'] == lector %> selected
                    <% end %> >
              <%= lector %>
            </option>
          <% end %>
        </select>
      </label>
    </div>

    <div>
      <label>
        Фильтрация по кабинету
        <input type="text" name="cabinet" value="<%= @parameters['cabinet'] %>"/>
      </label>
    </div>

    <label>
      <br/>
      <button type="submit" class="success button">Применить</button>
    </label>
  </div>
</form>

<div class="grid-x">
  <div class="cell small-6">
    <table>
      <thead>
      <tr>
        <th>День недели</th>
        <th>Номер лекции</th>
        <th>Кабинет</th>
        <th>Предмет</th>
        <th>Преподаватель</th>
        <th>Группы</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% scheduler.each do |lecture, day, num| %>
        <tr>
          <td> <%= day %> </td>
          <td> <%= num %> </td>
          <td> <%= lecture.cabinet %> </td>
          <td> <%= lecture.subject %> </td>
          <td> <%= lecture.lector %> </td>
          <td> <%= lecture.groups.join(', ') %> </td>
          <td>
            <form action="/scheduler/move?day=<%= day %>&num=<%= num %>&cabinet=<%= lecture.cabinet %>" method="post">
              <button class="secondary button" type="button">ПЕРЕНЕСТИ</button>
            </form>
          </td>

          <td>
            <form action="/scheduler/edit?day=<%= day %>&num=<%= num %>&cabinet=<%= lecture.cabinet %>" method="post">
              <button class="warning button" type="submit">ИЗМЕНИТЬ</button>
            </form>
          </td>

          <td>
            <form action="/scheduler/remove?day=<%= day %>&num=<%= num %>&cabinet=<%= lecture.cabinet %>" method="post">
              <button class="alert button" type="submit">УДАЛИТЬ</button>
            </form>
          </td>

        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


