<h1>Полное расписание</h1>

<% form({ method: :get }, { obj: @params }) do |f| %>
  <div style="display: flex;flex-direction: row">
  <%= f.input(:lector, type: :select, label: 'Фильтрация по преподавателю', options: @lectors, add_blank: true)%>
  <%= f.input(:group, type: :select, label: 'Фильтрация по группе', options: @groups, add_blank: true)%>
  <%= f.input(:cabinet, type: :number, label: 'Фильтрация по кабинету') %>
    <label>
      <br/>
      <%= f.button(value: 'OK', class: 'success button') %>
    </label>

  </div>
<% end %>

<div class="grid-x">
  <div class="cell small-6">

    <% @scheduler.data.each_pair do |day_week, day_data| %>

      <h3>День недели: <%= day_week %></h3>

      <table>
        <thead>

        <tr>
          <th>Кабинет</th>
          <th>Предмет</th>
          <th>Преподаватель</th>
          <th>Группы</th>
          <th></th>
          <th></th>
        </tr>
        </thead>

        <% day_data.sorted_data.each_pair do |num_lecture, lectures| %>
          <tr style="background-color: #f7cfcf">
            <td><b> <%= num_lecture %> </b></td>
            <td><b> лекция </b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <% lectures.each do |lecture| %>
            <tr>
              <td> <%= lecture.cabinet %> </td>
              <td> <%= lecture.subject %> </td>
              <td> <%= lecture.lector %> </td>
              <td> <%= lecture.groups_as_str %> </td>
              <td>
                <form action="/scheduler/move?old_day_week=<%= day_week %>&old_num_lecture=<%= num_lecture %>&old_cabinet=<%= lecture.cabinet %>" method="post">
                  <button class="warning button" type="submit">ПЕРЕНЕСТИ</button>
                </form>
              </td>

              <td>
                <form action="/scheduler/remove?day=<%= day_week %>&num=<%= num_lecture %>&cabinet=<%= lecture.cabinet %>" method="post">
                  <button class="alert button" type="submit">УДАЛИТЬ</button>
                </form>
              </td>

            </tr>
          <% end %>
        <% end %>

      </table>
    <% end %>

    <!--
    <table>
      <thead>
      <tr>
        <th>День недели</th>
        <th>Номер лекции</th>
        <th>Кабинет</th>
        <th>Предмет</th>
        <th>Преподаватель</th>
        <th>Группы</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <div>
        /*
        @data.each_pair do |day_week, day_data|
        day_data.data.each_pair do |num_lecture, lectures|
        lectures.each do |lecture|
        yield lecture, day_week, num_lecture
        end
        end
        end
        */

      </div>


      <tbody>
      <%# scheduler.each do |lecture, day, num| %>
        <tr>
          <td> <%#= day %> </td>
          <td> <%#= num %> </td>
          <td> <%#= lecture.cabinet %> </td>
          <td> <%#= lecture.subject %> </td>
          <td> <%#= lecture.lector %> </td>
          <td> <%#= lecture.groups.join(', ') %> </td>
          <td>
            <form action="/scheduler/move?day=<%#= day %>&num=<%#= num %>&cabinet=<%#= lecture.cabinet %>" method="post">
              <button class="secondary button" type="button">ПЕРЕНЕСТИ</button>
            </form>
          </td>

          <td>
            <form action="/scheduler/edit?day=<%#= day %>&num=<%#= num %>&cabinet=<%#= lecture.cabinet %>" method="post">
              <button class="warning button" type="submit">ИЗМЕНИТЬ</button>
            </form>
          </td>

          <td>
            <form action="/scheduler/remove?day=<%#= day %>&num=<%#= num %>&cabinet=<%#= lecture.cabinet %>" method="post">
              <button class="alert button" type="submit">УДАЛИТЬ</button>
            </form>
          </td>

        </tr>
      <%# end %>
      </tbody>
    </table>
-->

  </div>
</div>


